@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap');
@import "header.css";
@import "main.css";

/*generic rules*/
:root{
    box-sizing: border-box;
}
*,::before,::after{
    padding: 0;
    box-sizing: inherit;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h5{
    font-family: 'Anton',cursive;
    padding:0.2em 0;
}

p{
    font-size:0.9em;
}

/*LINK*/
a:visited{
    color: blue;
}

a:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
}

/*container*/
.page-wrapper{
    position: relative;
}
#zen-preamble, #zen-explanation, #zen-benefits, #zen-participation, #zen-requirements{
    width:calc(100% - 40%);
    padding:1em 2em;
    position: relative;
}

/* sidebar*/
aside{
    position:absolute;
    right: 0;
    top: 15%;
    width: 32.75%;
    background-color: khaki;
    padding:1.5em;
    margin-right:1.5em;
}

aside .wrapper ul{
    list-style: none;
}
/*div#zen-explanation.explanation:before{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: relative;
}
div#zen-participation.participation:before{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: relative;
}
div#zen-benefits.benefits:after{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: absolute;
    right:20px;
    top:20px;

}*/