@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap');
@import "header.css";
@import "main.css";

/*generic rules*/
:root{
    box-sizing: border-box;
}
*,::before,::after{
    padding: 0;
    box-sizing: inherit;
    margin: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

h1,h2,h3,h4,h5,h5{
    font-family: 'Anton',cursive;
    padding:0.2em 0;
}

p{
    font-size:0.9em;
    line-height: 1.5em;
}

/*LINK*/
a:visited{
    color: #666;
}

a:hover{
    text-decoration: none;
    border-bottom:1px solid indianred;
}

a{
    text-decoration: none;
    color:#000;
    padding-bottom:2px;
    border-bottom:1px solid rgba(0,0,0,0.3);
}

/*container*/
.page-wrapper{
    position: relative;
}
#zen-preamble{
    width:calc(100% - 40%);
    padding:2em 2em;
    position: relative;
}
#zen-preamble h3, #zen-supporting h3{
    font-size: 2.5em;
}
#zen-preamble p, #zen-supporting p{
    font-size: 1.2em;
}
#zen-supporting{
    padding:1em 2em;
    position: relative;
}
#zen-explanation{
    width:calc(100% - 40%);
    background-color: indianred;
    padding:2em 2em 3em 2em;
    color:white;
}
#zen-participation{
    position: relative;
    margin-top:3em;
    width:calc(100% - 40%);
}
#zen-benefits{
    position: relative;
    margin-top:3em;
}
#zen-benefits h3, #zen-benefits p{
    width:calc(100% - 60% - 4em);
}
#zen-benefits:after {
    content: '';
    width: 25%;
    height: 250px;
    background: url("https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Container_Queries/container-query-examples.png") no-repeat;
    background-size:cover;
    display: block;
    position: absolute;
    right: 40%;
    top:0;
}

#zen-requirements{
    width:calc(100% - 40%);
    padding:2em;
    margin: 5em 0;
    background-color: darkcyan;
    color:white;
}
#zen-requirements a{
    color:white;
    border-bottom:1px solid white;
}

div.requirements p:last-child{
    border-top:1px solid white;
    text-transform: uppercase;
    padding-top:1em;
    margin-top:1em;
}
/* sidebar*/
aside{
    position:fixed;
    right: 0;
    top: 0;
    width: 32.75%;
    background-color: khaki;
    padding:1.5em;
    margin-right:1.5em;
    height:100vh;
}

aside .wrapper ul{
    list-style: none;
    line-height: 1.6em;
    margin-bottom: 30px;
}

aside h3{
    font-size:2em;
}

/*footer*/
footer{
    background: indianred;
    clear: both;
    color: #fff;
    padding: 1em 5%;
    width: calc(100% - 40%);
    position: relative;
    margin-top:2em;
}
footer a{
    color: white;
    font-size: 1.5em;
    margin: 0 0.5em;
    border-bottom: 1px solid white;
}

/*div#zen-explanation.explanation:before{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: relative;
}
div#zen-participation.participation:before{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: relative;
}
div#zen-benefits.benefits:after{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: absolute;
    right:20px;
    top:20px;

}*/