*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}
body{
    margin:0 20px;
}
body a{
    color:red;
}
body a:hover{
    color:green;
}
div.page-wrapper{
    background-color: antiquewhite;
}
header{
    text-align: center;
    padding:30px;
}
header h1{
    font-size: 50px;
}
.summary{
    text-align: center;
    width:30%;
    margin: auto;
}
.preamble{
    text-align: center;
    background:linear-gradient(45deg,rgba(244,244,244,0.8),rgba(211,251,255,0.1)), url("embossed-diamond.webp") repeat;
    background-clip:padding-box;
    padding:30px;
    margin:50px 20px;
    border: red 10px dotted;
}

.explanation, .participation{
    float: left;
    width:calc(100% / 2 - 20px);
    padding:20px;
}
.benefits{
    float: left;
    padding:20px;
    width:100%;
    position: relative;
    height:200px;
}
.benefits>h3, .benefits>p{
    width:50%;
}
.supporting .requirements{
    clear: both;
}
.requirements{
    padding:20px;
}

footer>a:nth-child(2){
    color:blue;
    text-decoration: wavy underline;
}

div.design-selection a:nth-child(odd){
    color: red;
}

div#zen-explanation.explanation:before{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: relative;
}
div#zen-participation.participation:before{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: relative;
}
div#zen-benefits.benefits:after{
    content:'';
    width:200px;
    height:100px;
    background-color: coral;
    display: block;
    position: absolute;
    right:20px;
    top:20px;

}