/*STEP 1: box sizing */
:root {
    box-sizing: border-box;
    transition: all .5s ease-out;
}

*, ::before, ::after {
    box-sizing: inherit;
    transition: inherit;
}

/*MOBILE*/
body {
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}

h2 {
    font-size: 1.5em;
    margin: .9em 0 0 0;
}

figure {
    background-color: black;
    border-radius: .4em;
    color: white;
    padding: .8em;
    text-align: center;
    margin: 0 0 .9em 0;
}

figure img {
    max-width: 100%;
    flex:1;
    object-fit: cover;
}

.container {
    margin: 0 .5em;
}

/*FLEX FIGURE*/
figure{
    display: flex;
    flex-direction: column;
}

/*EFFETTI*/
figure:hover{
    background-color: #709b90;
    cursor: pointer;
    transition-duration: .1s;
}

/*TABLET*/
@media screen and (min-width: 768px) {
    body {
        background-color: rgba(102, 102, 102, 0.47);
    }
 /*tablet float*/
  /*  figure{
        float: left;
        width: calc(50% - .75em);
        margin-right:1.5em;
    }
    .kitten figure:nth-child(even){
        margin-right: 0;
    }
    .kitten:after{
        clear: both;
        content: "";
        display: block;
    }*/

    /*tablet flex*/
    .kitten{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
        justify-content: space-between;
    }
    figure{
        width:calc(50% - .75em);
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    body{
        background-color: rgba(0, 142, 255, 0.18);
    }

    .container{
        max-width: 1024px;
        margin: 0 auto;
        background-color: white;
        padding: .1em 1.5em;

    }

    figure{
        width:calc(25% - 1.25em);
    }
}