.elma {
    border: 5px solid;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.elma{
    animation-name: over-and-back;
    animation-duration: 4s;
    animation-timing-function: ease-out;
    animation-iteration-count:6;
    animation-direction: reverse;
    animation-play-state: running;
    position: relative;
}

@keyframes over-and-back {
    0%{
        background-color: rgba(185, 74, 74, 0);
        left: 0;
    }
    50%{
        background-color: rgba(185, 74, 74, 1);
        left: 50px;
    }
    100%{
        background-color: rgba(185, 74, 74, 0);
        left: 0;
    }

}
